body {color: rgb(35, 32, 31);
background-color: rgb(208, 242, 255);}

h1,h3,h4 {color: black;}
h2 {
    color: red;
    background-color: blue;
}

/* class */
.green-bg {
    background-color: green;
}

.underline-text {
    text-decoration: underline;
}

/* id - one time use*/
#nav-bar{
    background-color: orangered;
}


.first {color: rgb(0, 0, 0);}
.second {color: silver;}
.third { color: brown;}

img>a:hover {border: crimson;}

h6 {background-color: red;
    display: flex;
    justify-content: space-evenly
    ;
}